# Introduction to Python

To excecute the following Cell, click inside that and pres Ctrl+Enter
## Input and Output
### Hello World

In [1]:
print("Hello World")

Hello World

### Some more Output

In [2]:
print(5)
print(1+1)

5
2

### Variables
- You will need to store data into variables
- You can use those variables later on
- You can perform operations with those variables
- Variables are declared with a name, followed by ‘=‘ and a value ** An integer, string,… ** When declaring a variable, capitalization is important: *** ‘A’ <> ‘a’

In [3]:
five = 5
one = 1
print(five)
print(one + one)
message = "This is a string"
print(message)

5
2
This is a string

#### Input two integers and print the sum

In [3]:
num1 = int(input("Number 1:"))
num2 = int(input("Number 2:"))
sum = num1 + num2
print("%d + %d = %d"%(num1, num2, sum))

34 + 2 = 36

### Data Types

In [5]:
integer_variable = 100
floating_point_variable = 100.0
string_variable = "100"

print(type(integer_variable))
print(type(floating_point_variable))
print(type(string_variable))
print("-----")
print(type(int(floating_point_variable)))
print(type(float(integer_variable)))
print(type(float(string_variable)))

<class 'int'>
<class 'float'>
<class 'str'>
-----
<class 'int'>
<class 'float'>
<class 'float'>

## File Input and Output
### Writing to a File

In [5]:
my_file = open("output_file.txt",'w')
vars = "This is a string\n"
my_file.write(vars)
var3 = 10

my_file.write(str(var3))
var4 = 20.0
my_file.write("\n")
my_file.write(str(var4))
my_file.close()

### Reading from a File

In [6]:
my_file = open("output_file.txt",'r')
content = my_file.read()
print(content)
my_file.close()

This is a string
10
20.0

### Reading Line by Line

In [9]:
my_file = open("output_file.txt",'r')
vars = my_file.readline()
var5 = my_file.readline()
var6 = my_file.readline()
print("String: ", vars)
print("Integer: ", var5)
print("Float: ", var6)
my_file.close()

String:  This is a string

Integer:  10

Float:  20.0

## Arithmetic Operations

+    Addition      1 + 1 = 2
-    Subtraction   5 – 3 = 2
/    Division      4 / 2 = 2
%    Modulo      5 % 2 = 1
*    Multiplication    5 * 2 = 10
//   Floor division    5 // 2 = 2
**   To the power of 2 ** 3 = 8

In [25]:
print(5/2)
print(5//2)
print(5.0//2)
print("hello" + "world")
print(3*5**2)

2.5
2
2.0
helloworld
75

## Lists

In [29]:
a = [ 1, 3 ,4, 6]
print(a)
print(type(a))

[1, 3, 4, 6]
<class 'list'>

In [31]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)
print(len(thislist))

['apple', 'banana', 'cherry', 'apple', 'cherry']
5

In [35]:
list1 = ["abc", 34, True, 40, "male"]
a = list1[1] + list1[2]
print(a)

a = list1[0] + list1[4]
print(a)

35
abcmale

## Control Flow

### IF condition

In [38]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

### Indentation

Python relies on indentation (whitespace at the beginning of a line) to define scope in the code. Other programming languages often use curly-brackets for this purpose.

In [39]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

IndentationError: expected an indented block (1443227691.py, line 4)

In [44]:
a = 200
b = 33
c = 500
#c=50
if a > b and c > a:
  print("Both conditions are True")
else:
  print("Both conditions are not True")

Both conditions are True

### for loop

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [37]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [45]:
for x in range(5):
    print(x)

0
1
2
3
4

In [47]:
for x in range(5,10):
    print(x)

5
6
7
8
9